/src/sl_m_day1.rpyc
/src/sl_m_day2.rpyc
/src/sl_m_day3.rpyc
/src/sl_m_day4.rpyc
/src/sl_m_day5.rpyc
/src/sl_m_day5_alt.rpyc
/src/sl_m_day6.rpyc
/src/sl_m_day6_alt.rpyc
/src/sl_m_day7.rpyc
/src/sl_m_day7_alt.rpyc
/src/sl_m_gallery.rpyc
/src/sl_m_launcher.rpyc
/src/sl_m_res.rpyc
/src/ul_m_d1.rpyc
/src/sl_m_epilogue.rpyc
/src/sl_m_epilogue_alt.rpyc